@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    overflow-x: hidden;
}

#header {
    background-image: url("https://emilyanas2323.github.io/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}

div.transbox {
    background-color: rgba(92,92,92,0.5);
    height: 100%;
    width: 100%;
}

#header-title {
    font-size: 68px;
    margin-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
}

#header-desc {
    font-size: 31px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

#header-btn {
    /*background-color: #7735B8;*/
    background-color: #E688A4;
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.text-section {
    padding-top: 70px;
    padding-bottom: 10px;
}

.text-section > p, #product-desc {
    font-size: 20px;
    padding-bottom: 40px;
    color: #787878;
    font-family: 'Montserrat', sans-serif;
}

.text-section > hr {
    border-top: 1px solid #A6A6A6;
}

#product-title {
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #515151;
    padding-bottom: 25px;
    padding-top: 20px;
}

.product-images > img {
    padding-bottom: 25px;
}

.product-images {
    padding-bottom: 30px;
} 

#blog-banner {
    background-color: #FFE5EA;
    font-size: 56px;
    font-family: 'Quicksand', sans-serif;
    color: #515151;
}

#blog-preview {
    padding-top: 50px;
    padding-bottom: 80px;
    color: #717171;
    font-family: 'Quicksand', sans-serif;
    margin: 0 70px;
}

.blog-title {
    font-size: 38px;
    margin-bottom: 40px;
}

.blog-desc {
    margin-bottom: 40px;
    font-size: 20px;
}

.blog-link, .blog-link:hover {
    color: #717171;
    font-size: 22px;
}

#footer-section {
    min-height: 35vh;
    background-color: #F1F1F1;
}

#footer {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

#footer-bottom {
    border-bottom: 1px solid #A6A6A6;
}

#social-section {
    border-top: 1px solid #A6A6A6;
    font-size: 22px;
    padding-top: 15px;
}

#social-icons > a {
    padding-top: 6px;
    margin-right: 7px;
    padding-bottom: 25px;
}

#content-section {
    border-top: 1px solid #A6A6A6;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 50px;
}

#content-section > p {
    padding-top: 8px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
