body {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
	
#container {
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
}

#title {
	color: white;
	text-align: center;
	background-color: #FEA0C0;
	font-family: "Georgia", serif;
	padding: 15px;
	margin-top: 0px;
	border-style: dotted;	
}

#words {
	color: white;
	margin-left: 25px;
	font-size: 20px;
	font-family: "Georgia", serif;
	font-weight: bold;
}

#cat {
	margin-left: 25px;
}