---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center text-center" id="work-banner">
            <p class="page-title my-0">Work Experience</p>
        </div>
    </div>
    <div class="container" id="experience-container">
        <div class="row" id="experience-row">
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-center text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/tower-pc.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">UX Analyst & Visual Designer</p>
                    <p class="job-company">Ontario Institute for Cancer Research</p>
                    <p class="job-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-top text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/browser.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">Front-End Web Developer</p>
                    <p class="job-company">Reheart</p>
                    <p class="job-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-top text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/data.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">Technovation Mentor</p>
                    <p class="job-company">Technovation</p>
                    <p class="job-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
