---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center text-center" id="work-banner">
            <p class="page-title my-0">Work Experience</p>
        </div>
    </div>
    <div class="container" id="experience-container">
        <div class="row" id="experience-row">
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-top text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/data.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">Software Developer</p>
                    <p class="job-company">The Home Depot</p>
                    <!-- <p class="job-description">I volunteered as a Technovation Mentor during high school. My main responsibilities included mentoring elementary students competing in the competition, meeting with teams to guide project completion, and running workshops to teach students how to create apps using App Inventor.</p> -->
                    <div class="job-description">
                        Developed internal web applications using Angular and TypeScript to implement new UI features.<div class="space"></div>
                        Used ngrx/store to integrate RESTful APIs on the client side and manage the global state of the application.<div class="space"></div>
                        Added and tested new features and resolved bug fixes to improve application usability.
                    </div>  
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-center text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/tower-pc.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">Content Developer & Themer</p>
                    <p class="job-company">Ontario Institute for Cancer Research</p>
                    <!-- <p class="job-description">I worked as a Content Developer & Themer at the Ontario Institute for Cancer Research during Winter 2020. My main responsibilities included creating product deliverables, building and updating Jekyll sites, and testing front-end browser compatibility and responsiveness.</p> -->
                    <div class="job-description">
                        Created new webpages and email templates using HTML, CSS, Sass, and Bootstrap according to given designs.<div class="space"></div>
                        Added and updated content to existing Jekyll sites HTML, Liquid, YAML Front Matter, and Bootstrap.<div class="space"></div>
                        Tested front-end code in various browsers to ensure cross-browser compatibility and responsiveness.
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-top text-center">
                <div class="work-card d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center icon-item">
                        <div class="icon-border d-flex justify-content-center align-items-center">
                            <div class="icon-background d-flex justify-content-center align-items-center">
                                <img src="/assets/images/browser.png" class="img-fluid work-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="job-title">Front-End Web Developer</p>
                    <p class="job-company">Reheart</p>
                    <!-- <p class="job-description">I worked as a Front-End Web Developer at Reheart during Summer 2019. My main responsibilities included creating custom site pages and sections according to design specifications, integrating and maintaining new site features, and transferring the site content over to a new theme. </p> -->
                    <div class="job-description">
                        Created custom web pages and sections on Reheart’s website according to a given design.<div class="space"></div>
                        Transferred site content to and customized a new theme, which doubled the website’s speed.<div class="space"></div>
                        Integrated and maintained new apps and features (e.g. product reviews, product filters, wishlist).
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
