---
layout: default
---
<div class="container-fluid" id="home-container">
    <div class="row">
        <div class="col-12">
            <hr id="nav-divider">
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center" id="home-content">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-12" id="home-text">
            <p class="title">Hello there!<br>I'm Emily Anas.</p>
            <p class="description">I’m a developer who likes making pretty things. I study Computer Science at the University of Waterloo.<br><br>I worked as a Content Developer & Themer at the Ontario Institute for Cancer Research. I was previously a Front-End Web Developer at Reheart.</p>
            <p><a class="home-btn" href="/projects/">View My Projects →</a></p>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-9 col-12 overlay-container">
            <img src="/assets/images/estee-janssens-8fQ-k_Wd9yU-unsplash.jpg" class="img-fluid" id="home-img" alt="">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr id="home-divider">
        </div>
    </div>
</div>

<style>
    /*.overlay-container {
    position: relative;
    width: 50%;
    }
    
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    opacity: 1;
    background-color: rgba(72,78,83,.25);
    }
    
    .overlay-container:hover .overlay {
        background-color: rgba(72,78,83,.75);
    }
    
    .text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    }*/
</style>
