---
layout: default
---
<div class="container-fluid" id="home-container">
    <div class="row">
        <div class="col-12">
            <hr id="nav-divider">
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center" id="home-content">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-12" id="home-text">
            <p class="title">Hello there!<br>I'm Emily Anas.</p>
            <p class="description">
                I’m a developer who likes making pretty things. I study Computer Science at the University of Waterloo.<br><br>
                I worked as a Software Developer at The Home Depot. I have also previously worked at the Ontario Institute for Cancer Research & Reheart, a fashion-based startup.
            </p>
            <p><a class="button home-btn" href="/projects/">View My Projects →</a></p>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-9 col-12 overlay-container">
            <img src="/assets/images/estee-janssens-8fQ-k_Wd9yU-unsplash.jpg" class="img-fluid" id="home-img" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr id="home-divider">
        </div>
    </div>
</div>